html{
	font-family: sans-serif;
}
div#r1, div#r2{
  display: inline-block;
  width: 25vw;
  height: 10vh;
}

div#answer-submit{
  margin-top: 1%;
}
input#answer{
  width: 25vw;
  font-size: 1.3em;
}

#submit{
	margin-left: 18%;
	width: 10vw;
	font-size: 2em;
	font-weight: bold;
}

div#r1-label,div#r2-label{
  text-align: center;
  font-size: 1.5em;
}

div#r1-start, div#r1-end,div#r2-end, div#r2-end{
  width: 45%;
}

input#first-number, input#last-number{
  height: 4vh;
  width: 25vw;
  font-size: 1.3em;
  position: relative;
  top: .43vh;
  margin-right: 10%;
}

section#score{
  position: absolute;
  top: 0;
  right: 10vw;
  display: block;
  font-size: 2em;
  width: 15vw;
}

input, div#r2 > input {
  width: 48%;
}

section#math{
  width: 35vw;
}

section#math button{
  width: 40vw;
  height: 10vh;
  margin: 1%;
  font-size: 4em
}

input#r1-start, input#r1-end, input#r2-start, input#r2-end{
  font-size: 2em;
}
